@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.console-cursor::after {
  content: "|";
  opacity: 1;
  animation: blink 1s infinite;
}
.waveMotion path {
  animation: waveMotion 1s infinite;
}

@keyframes waveMotion {
  0% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.lambai {
  display: inline-block;
  transition: 1s all ease;
  animation: lambai 1s infinite;
}

@keyframes lambai {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.font-primary {
  font-family: "Playwrite CU", cursive;
}
.font-secondary {
  font-family: "Raleway", sans-serif;
}

.width-title {
  animation: width-title 20s forwards;
}
@keyframes width-title {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bgLinear {
  background: linear-gradient(-45deg, red, green,blue);
  background-clip: text;
  color: transparent;
  background-size: 300% 300%;
  -ms-text-overflow: clip;
  animation: gradient 6s ease infinite;
}
